@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Preloader*/
#preloader > p {
  display: none;
}

#preloader_preload {
  display: block;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background: #50626C url(../img/tail-spin.svg) center center no-repeat;
  background-size: 85px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 125px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  display: block;
  width: 222px;
  height: 75px;
}

.header__list {
  display: none;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
}

.header__burger {
  display: block;
  position: relative;
  width: 18px;
  height: 12px;
  position: relative;
  z-index: 5;
}

.header__burger span {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: aliceblue;
  top: 5px;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
  content: '';
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__menu {
  position: fixed;
  top: 0px;
  left: -100%;
  height: 20%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 70px 10px 20px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.header__menu.active {
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
}

.header__list {
  top: 90px;
  display: block;
}

.header__list li {
  margin: 0 0 30px 0;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5.5px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 4.5px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header_phone,
.header__work-time,
.header__icons {
  z-index: 2;
}

.header_phone a,
.header__work-time p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
}

.header__icons {
  z-index: 2;
  width: 154px;
  height: 35px;
}

.header__icons a {
  font-size: 20px;
  color: #ffffff;
}

.section {
  padding-top: 105px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

#Main {
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */