@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Preloader*/
#preloader > p {
  display: none;
}

#preloader_preload {
  display: block;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background: #50626C url(../img/tail-spin.svg) center center no-repeat;
  background-size: 85px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 125px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  display: block;
  width: 222px;
  height: 75px;
}

.header__list {
  display: none;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
}

.header__burger {
  display: block;
  position: relative;
  width: 18px;
  height: 12px;
  position: relative;
  z-index: 5;
}

.header__burger span {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: aliceblue;
  top: 5px;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
  content: '';
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__menu {
  position: fixed;
  top: 0px;
  left: -100%;
  height: 20%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 70px 10px 20px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.header__menu.active {
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
}

.header__list {
  top: 90px;
  display: block;
}

.header__list li {
  margin: 0 0 30px 0;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5.5px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 4.5px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header_phone,
.header__work-time,
.header__icons {
  z-index: 2;
}

.header_phone a,
.header__work-time p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
}

.header__icons {
  z-index: 2;
  width: 154px;
  height: 35px;
}

.header__icons a {
  font-size: 20px;
  color: #ffffff;
}

.section {
  padding-top: 105px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

#Main {
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.main__title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 90px;
  position: relative;
  top: 230px;
}

.btn_catalog {
  border-radius: 5px;
  padding: 10px 50px 10px 50px;
  position: relative;
  top: 320px;
  left: 200px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button1 {
  padding: 10px 50px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#ffffff));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #ffffff);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#ffffff));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #ffffff);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#ffffff));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #ffffff);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#ffffff));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #ffffff);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.boats_motors {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 240px;
  left: 120px;
}

.scrolled {
  background: rgba(80, 98, 108, 0.6);
}

.tabs__header {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__cont {
  max-width: 1170px;
  margin: 0 auto;
}

.tabs__item {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #CCCCCC;
  background-color: #ffffff;
}

.tabs__item:hover {
  color: #50626C;
}

.pop-product__box {
  width: 226.5px;
  height: 355.58px;
}

.tabs__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (225px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 225px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 43px;
  grid-column-gap: 83px;
  position: relative;
  margin: 0 auto;
}

.pop-product__img {
  background-color: #50626C;
  padding: 50px 35px;
  margin-bottom: 10px;
}

.pop-product__title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #363636;
  margin: 0px 9px 5px 9px;
}

.pop-product__price {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #363636;
  margin-bottom: 5px;
}

.btn_buy {
  padding: 10px 86.5px;
  background-color: #50626C;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 800;
}

.section__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 34px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  max-width: 1170px;
  margin: 0 auto;
}

.categories__box {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (375px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 375px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 15px;
  grid-column-gap: 20px;
  position: relative;
  margin: 60px auto auto auto;
}

.categories__box-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 373px;
  height: 255px;
  padding: 31px 80px;
}

.box-item__title {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #50626C;
  text-align: center;
  margin-bottom: 16px;
}

.categories__item__list {
  margin-bottom: 18px;
}

.categories__item__list ul {
  list-style-type: disc;
}

.categories__item__list li {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #363636;
  margin-left: 70px;
}

.categories__btn__see {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #50626C;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.categories__btn__see span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.categories__btn__see span:after {
  content: '\27F6';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories__btn__see:hover span {
  padding-right: 50px;
}

.categories__btn__see:hover span:after {
  opacity: 1;
  right: 0;
}

.articles__block {
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (570px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 570px);
  -ms-grid-rows: (333px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 333px);
  gap: 22px 22px;
  grid-auto-flow: row;
  margin-top: 105px;
}

.articles__large__box {
  width: 1162px;
  height: 291px;
  background: #50626C;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

.articles__small__box {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

.articles__img1 {
  position: relative;
  top: -68px;
  left: 90px;
}

.articles__img2 {
  position: relative;
  top: -90px;
  left: 120px;
}

.articles__img3 {
  position: relative;
  top: 10px;
  left: 300px;
}

.articles__small__title1 {
  margin: -45px 29px 0px 50px;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #50626C;
}

.articles__small__title2 {
  margin: -80px 29px 0px 50px;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #50626C;
}

.articles__small__text {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #50626C;
  margin: 21px 29px 0px 50px;
}

.articles__large__title {
  margin: 11px 72px 0px 50px;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.articles__large__text {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 5px 622px 0px 50px;
}

.reviews__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (373px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 373px);
  gap: 0px 19px;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 71px;
}

.reviews__box__item-L {
  height: 418px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  top: -20px;
}

.reviews__box__item-L img {
  width: 200px;
  height: 200px;
  margin: 43px 98px 34px 75px;
}

.reviews__box__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 379px;
}

.reviews__box__item img {
  width: 182px;
  height: 182px;
  margin: 40px 95px 22px 95px;
}

.reviews__comment {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #50626C;
  margin-bottom: 15px;
}

.stars__box {
  width: 112px;
  height: 20px;
  margin: 0 auto;
}

.fa-star {
  color: #c4c4c4;
}

.checked__star {
  color: #ffff00;
}

.reviews__text {
  font-size: 20px;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
  color: #50626C;
  font-weight: 700;
  margin: 0px 66px 8px 78px;
}

.reviews__text-L {
  font-size: 20px;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
  color: #50626C;
  font-weight: 700;
  margin: 0px 71px 10px 73px;
}

.form__cont {
  max-width: 980px;
  margin: 0 auto;
}

.form * {
  outline: none;
}

.form {
  max-width: 440px;
  height: 590px;
  border: 1px solid #E4E5E4;
  padding: 35.39px 23px 35.24px 23px;
  margin-top: 80px;
  margin-right: 140px;
}

.form button {
  width: 393.65px;
  height: 61.76px;
  background-color: #50626C;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn__send:hover {
  border: 1.5px solid #50626C;
  color: #50626C;
  background-color: rgba(80, 98, 108, 0.3);
}

.form__title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #50626C;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 24.60px;
}

.form__label {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  margin-top: 20px;
}

.form__input {
  width: 394px;
  height: 61.41px;
  border: 1px solid #E4E5E4;
  margin-bottom: 19px;
  margin-top: 7px;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
}

.form__textarea {
  width: 394px;
  height: 121px;
  border: 1px solid #E4E5E4;
  resize: none;
  margin-bottom: 34px;
  margin-top: 7px;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
}

.form-img {
  width: 399px;
  height: 371.22px;
  position: relative;
  top: 50px;
}

.horizontal__line {
  max-width: 1157.5px;
  height: 0px;
  display: block;
  margin: 0 auto;
  border: 1px solid #A4A4A4;
}

.pre__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1122px;
  padding: 0 15px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
  margin-bottom: 110px;
}

.footer__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  margin-bottom: 7px;
}

.under__footer {
  width: 100%;
  height: 100px;
  background-color: #001420;
  position: relative;
}

.to__top,
.footer_dev {
  font-size: 18px;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.first__section {
  width: 276px;
  height: 100%;
}

.footer__contact {
  margin-left: 48px;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
}

.footer__icon {
  color: #363636;
  font-size: 18px;
  vertical-align: top;
  margin-right: 14px;
}

.networks {
  width: 150px;
  height: 20px;
  margin-left: 48px;
}

.networks a {
  font-size: 20px;
  color: #363636;
}

.second__section {
  width: 276px;
  height: 100%;
  padding-top: 25px;
}

.second__section p,
.second__section a {
  padding-left: 20px;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
}

.second__section p:hover {
  text-decoration: underline;
}

.third__section {
  width: 310px;
  height: 100%;
  padding-top: 25px;
}

.third__section p,
.third__section a {
  padding-left: 20px;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
}

.third__section p:hover {
  text-decoration: underline;
}

.footer__cont {
  top: 0;
  right: auto;
  left: auto;
  width: 1122px;
  margin: 0 auto;
  padding: 0 15px;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */