@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
@import 'vars';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Preloader*/
#preloader>p {
    display: none;
}

#preloader_preload {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #50626C url(../img/tail-spin.svg) center center no-repeat;
    background-size: 85px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 90px;
    align-items: center;
    justify-content: space-between;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__logo {
    img {
        display: block;
        width: 222px;
        height: 75px;
    }

    width: 125px;
    position: relative;
    z-index: 5;
}

.header__list {
    li {
        list-style: none;
    }

    display: none;
    position: relative;
    z-index: 2;
}

.header__burger {
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    position: relative;
    z-index: 5;
}

.header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    top: 5px;
    height: 2px;
    transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__menu {
    a {
        font-family: $font-m;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
    }

    position: fixed;
    top: 0px;
    left: -100%;
    height: 20%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 10px 20px 0;
    transition: all 0.3s ease 0s;
}

.header__menu.active {
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
}

.header__list {
    li {
        margin: 0 0 30px 0;
    }

    top: 90px;
    display: block;
}


.header__burger.active::before {
    transform: rotate(45deg);
    top: 5.5px;
}

.header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 4.5px;
}

.header__burger.active span {
    transform: scale(0);
}

.header_phone,
.header__work-time,
.header__icons {
    z-index: 2;
}

.header_phone a,
.header__work-time p {
    font-family: $font-m;
    font-size: 15px;
    color: $color-w;
    font-weight: 500;
}

.header__icons {
    a {
        font-size: 20px;
        color: $color-w;
    }

    z-index: 2;
    width: 154px;
    height: 35px;
    position: relative;
}

.section {
    padding-top: 105px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

#Main {
    background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.main__title {
    font-family: $font-m;
    color: $color-w;
    font-weight: 500;
    font-size: 90px;
    position: relative;
    top: 230px;
}

.btn_catalog {
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
    position: relative;
    top: 320px;
    left: 200px;
    color: $color-w;
    font-size: 18px;
    font-family: $font-m;
    font-weight: 400;
}

@keyframes animateLeft {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes animateTop {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animateRight {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes animateBottom {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animated-button1 {
    padding: 10px 50px;
    display: inline-block;
    transform: translate(0%, 0%);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad8585;
        opacity: 0;
        transition: .2s opacity ease-in-out;
    }

    span {
        position: absolute;

        &:nth-child(1) {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 2px;
            background: linear-gradient(to left, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateTop linear infinite;
        }

        &:nth-child(2) {
            top: 0px;
            right: 0px;
            height: 100%;
            width: 2px;
            background: linear-gradient(to top, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateRight linear -1s infinite;
        }

        &:nth-child(3) {
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateBottom linear infinite;
        }

        &:nth-child(4) {
            top: 0px;
            left: 0px;
            height: 100%;
            width: 2px;
            background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateLeft linear -1s infinite;
        }
    }

    &:hover {
        &::before {
            opacity: 0.2;
        }
    }
}

.boats_motors {
    color: $color-w;
    font-family: $font-m;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: 240px;
    left: 120px;
}

.scrolled {
    background: rgba(80, 98, 108, 0.6);
}

.tabs__header {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 44px;
    justify-content: space-between;
    display: flex;
}

.tabs__cont {
    max-width: 1170px;
    margin: 0 auto;
}

.tabs__item {
    transition: 0.8s;
    font-weight: 500;
    font-family: $font-r;
    font-size: 30px;
    color: $color-lg;
    background-color: $color-w;

    &:hover {
        color: $color-g;
    }
}

.pop-product__box {
    width: 226.5px;
    height: 355.58px;
}

.tabs__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: space-between;
    grid-row-gap: 43px;
    grid-column-gap: 83px;
    position: relative;
    margin: 0 auto;
}

.pop-product__img {
    background-color: $color-g;
    padding: 50px 35px;
    margin-bottom: 10px;
}

.pop-product__title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    font-family: $font-r;
    color: $color-b;
    margin: 0px 9px 5px 9px;
}

.pop-product__price {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    font-family: $font-r;
    color: $color-b;
    margin-bottom: 5px;

}

.btn_buy {
    padding: 10px 86.5px;
    background-color: $color-g;
}

.btn_buy__link {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $color-w;
    font-family: $font-m;
    font-weight: 400;
}

.bold {
    font-weight: 800;
}

.section__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 34px;
    font-family: $font-m;
    color: $color-b;
    max-width: 1170px;
    margin: 0 auto;
}

.categories__box {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 375px);
    justify-content: space-between;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    position: relative;
    margin: 60px auto auto auto;
}

.categories__box-item {
    background: $color-w;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 373px;
    height: 255px;
    padding: 31px 80px;
}

.box-item__title {
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
    text-align: center;
    margin-bottom: 16px;
}

.categories__item__list {
    ul {
        list-style-type: disc;
    }

    li {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        font-family: $font-r;
        color: $color-b;
        margin-left: 70px;
    }

    margin-bottom: 18px;
}

.categories__btn__see {
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: block;
    transition: all 0.4s;
    cursor: pointer;

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;

        &:after {
            content: '\27F6';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &:hover {
        span {
            padding-right: 50px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

.articles__block {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 570px);
    grid-template-rows: repeat(auto-fill, 333px);
    gap: 22px 22px;
    grid-auto-flow: row;
    margin-top: 105px;
}

.articles__large__box {
    width: 1162px;
    height: 291px;
    background: $color-g;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}

.articles__small__box {
    background: $color-w;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}

.articles__img1 {
    position: relative;
    top: -68px;
    left: 90px;
}

.articles__img2 {
    position: relative;
    top: -90px;
    left: 120px;
}

.articles__img3 {
    position: relative;
    top: 10px;
    left: 300px;
}

.articles__small__title1 {
    margin: -45px 29px 0px 50px;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
}

.articles__small__title2 {
    margin: -80px 29px 0px 50px;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
}

.articles__small__text {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    font-family: $font-r;
    color: $color-g;
    margin: 21px 29px 0px 50px;
}

.articles__large__title {
    margin: 11px 72px 0px 50px;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-w;
}

.articles__large__text {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    font-family: $font-r;
    color: $color-w;
    margin: 5px 622px 0px 50px;
}

.reviews__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 373px);
    gap: 0px 19px;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 71px;
}

.reviews__box__item-L {
    img {
        width: 200px;
        height: 200px;
        margin: 43px 98px 34px 75px;
    }

    height: 418px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    top: -20px;
}

.reviews__box__item {
    img {
        width: 182px;
        height: 182px;
        margin: 40px 95px 22px 95px;
    }

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 379px;
}

.reviews__comment {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-family: $font-r;
    text-align: center;
    color: $color-g;
    margin-bottom: 15px;
}

.stars__box {
    width: 112px;
    height: 20px;
    margin: 0 auto;
}

.fa-star {
    color: #c4c4c4;
}

.checked__star {
    color: #ffff00;
}

.reviews__text {
    font-size: 20px;
    line-height: 23px;
    font-family: $font-m;
    color: $color-g;
    font-weight: 700;
    margin: 0px 66px 8px 78px;
}

.reviews__text-L {
    font-size: 20px;
    line-height: 23px;
    font-family: $font-m;
    color: $color-g;
    font-weight: 700;
    margin: 0px 71px 10px 73px;
}

.form__cont {
    max-width: 980px;
    margin: 0 auto;
}

.form * {
    outline: none;
}

.form {
    button {
        width: 393.65px;
        height: 61.76px;
        background-color: $color-g;
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        font-family: $font-m;
        color: $color-w;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: 1s;
    }

    max-width: 440px;
    height: 590px;
    border: 1px solid #E4E5E4;
    padding: 35.39px 23px 35.24px 23px;
    margin-top: 80px;
    margin-right: 140px;

}

.btn__send:hover {
    border: 1.5px solid $color-g;
    color: #50626C;
    background-color: rgba(80, 98, 108, 0.3);
}

.form__title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: $color-g;
    font-family: $font-m;
    text-align: center;
    margin-bottom: 24.60px;
}

.form__label {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-b;
    margin-top: 20px;
}

.form__input {
    width: 394px;
    height: 61.41px;
    border: 1px solid #E4E5E4;
    margin-bottom: 19px;
    margin-top: 7px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
}

.form__textarea {
    width: 394px;
    height: 121px;
    border: 1px solid #E4E5E4;
    resize: none;
    margin-bottom: 34px;
    margin-top: 7px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
}

.form-img {
    width: 399px;
    height: 371.22px;
    position: relative;
    top: 50px;
}

.horizontal__line {
    max-width: 1157.5px;
    height: 0px;
    display: block;
    margin: 0 auto;
    border: 1px solid #A4A4A4;
}

.pre__footer {
    display: flex;
    max-width: 1122px;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 68px;
    margin-bottom: 110px;
}

.footer__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    font-family: $font-m;
    color: $color-b;
    margin-bottom: 7px;
}

.under__footer {
    width: 100%;
    height: 100px;
    background-color: #001420;
    position: relative;
}

.to__top,
.footer_dev {
    font-size: 18px;
    line-height: 23px;
    font-family: $font-m;
    color: $color-w;
}

.first__section {

    width: 276px;
    height: 100%;
}

.footer__contact {
    margin-left: 48px;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    font-family: $font-m;
    color: $color-b;
}

.footer__icon {
    color: $color-b;
    font-size: 18px;
    vertical-align: top;
    margin-right: 14px;
}

.networks {
    a {
        font-size: 20px;
        color: $color-b;
    }

    width: 150px;
    height: 20px;
    margin-left: 48px;
}

.second__section {

    p,
    a {
        padding-left: 20px;
        padding-bottom: 7px;
        font-size: 18px;
        line-height: 22px;
        font-family: $font-m;
        color: $color-b;
        font-weight: 400;
    }

    p:hover {
        text-decoration: underline;
    }

    width: 276px;
    height: 100%;
    padding-top: 25px;
}

.third__section {

    p,
    a {
        padding-left: 20px;
        padding-bottom: 7px;
        font-size: 18px;
        line-height: 22px;
        font-family: $font-m;
        color: $color-b;
        font-weight: 400;
    }

    p:hover {
        text-decoration: underline;
    }

    width: 310px;
    height: 100%;
    padding-top: 25px;

}

.footer__cont {
    top: 0;
    right: auto;
    left: auto;
    width: 1122px;
    margin: 0 auto;
    padding: 0 15px;
    bottom: 0;
    justify-content: space-between;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal * {
    outline: none;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;

}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 541px;
        margin: 100px auto;
    }
}

.modal-content {
    position: relative;
    display: flex;

    flex-direction: column;
    background-color: $color-w;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    outline: 0;
    min-height: 600px;
}

@media (min-width: 768px) {
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: $color-g;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.close:focus,
.close:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: .85;
}

.modal-body {
    h3 {
        font-size: 20px;
        text-align: center;
        color: $color-g;
        font-weight: 700;
        font-family: $font-m;
    }

    p {
        font-size: 16px;
        text-align: center;
        color: $color-g;
        font-weight: 400;
        font-family: $font-m;
    }

    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.input__log__in {
    width: 484.46px;
    height: 73px;
    border: 1px solid #E4E5E4;
    display: block;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    margin: 14px auto 21px auto;

}

.label__login {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-form;
    margin-left: 13px;

}

.forgot__pass {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-form;
    margin-left: 13px;
    border-bottom: 1px solid $color-form;
    padding-bottom: 3px;
}

.btn__log {
    width: 295px;
    height: 58px;
    background-color: $color-g;
    font-size: 15px;
    line-height: 34px;
    font-family: $font-m;
    font-weight: 400;
    color: $color-w;
    display: block;
    margin: 44px auto 25px auto;

    cursor: pointer;

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;

        &:after {
            content: '\27F6';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &:hover {
        span {
            padding-right: 50px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

.create__ac {
    border-bottom: 1px solid $color-form;
    padding-bottom: 3px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    margin-left: 148px;
    color: $color-form;
    margin-bottom: 40px;
}

/*<!--Registration-->*/
#section {
    background-image: url(../img/img-next-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.personal__area {
    color: $color-w;
    font-family: $font-m;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: 240px;
}

.phone__time {
    width: 284px;
    height: 41px;
    float: right;
    top: 530px;
    position: relative;

}

.btn_section {
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
    position: relative;
    top: 320px;
    left: 525px;
    color: $color-w;
    font-size: 18px;
    font-family: $font-m;
    font-weight: 400;
}

.registration__form__first {
    max-width: 1158px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 25px;
    min-height: 717px;
    padding: 47px 49px 89px 35px;
    background: $color-w;
    border: 1px solid #E4E5E4;
}

.registration__form__main {
    max-width: 1158px;
    min-height: 1425px;
    margin: 0 auto;
}

.registration__form__second {
    max-width: 1158px;
    margin: 0 auto;
    padding: 47px 49px 89px 35px;
    background: $color-w;
    border: 1px solid #E4E5E4;
}

.form__reg__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    font-family: $font-m;
    color: $color-g;
    margin-bottom: 28px;
}

.required {
    font-size: 20px;
    color: #DD0D0D;
}

.form__reg__label {
    float: left;
    margin-top: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-form;
    padding: 10px;
}

.form__reg__input {
    float: right;
    border: 1px solid #E4E5E4;
    width: 80%;
    height: 66px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    margin-top: 25px;
}

.form__reg__radio {
    width: 16px;
    height: 16px;
}

.radio {
    height: 58px;
    margin-top: 60px;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.form__reg__sub {
    float: left;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-form;
}

.radio__btn {
    width: 190px;
}

.btn__second-form {
    float: right;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    background-color: $color-g;
    font-family: $font-m;
    color: $color-w;
    padding: 19px 112px;
    text-align: center;

    transition: all 0.4s;
    cursor: pointer;

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;

        &:after {
            content: '\27F6';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &:hover {
        span {
            padding-right: 40px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

.label__radio {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-form;
}

.reg-form * {
    outline: none;
}

/*<!--About-->*/
.map__descr__about {
    img {
        width: 839px;
        height: 491px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;

    }

    h2 {
        text-align: center;
        margin-bottom: 38px;
        font-weight: 600;
        font-size: 20px;
        line-height: 108.9%;
        font-family: $font-m;
        color: $color-w;
        letter-spacing: 0.165em;
    }

    max-width: 1183px;
    height: 674px;
    margin: 0 auto;
    position: relative;

}

.greeting {
    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 108.9%;
        font-family: $font-m;
        color: $color-w;
        letter-spacing: 0.165em;
    }

    max-width: 688px;
    min-height: 674px;
    position: absolute;
    padding: 42px 33px 0px 33px;
    background: rgba(0, 0, 0, 0.48);
    right: 0;
}

.team__box {
    margin: 48px auto 36px auto;
    max-width: 1065px;

}

.director,
.manager {
    width: 522px;
    min-height: 583px;
    background: $color-w;
    border: 1px solid #272727;
    padding: 58px 60px 16px 60px;

}

.position {
    margin-top: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    font-family: $font-r;
    color: $color-b;
    text-align: center;
}

.person-tel {
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $color-b;
        font-family: $font-r;
        margin-left: 20px;
    }

    margin-top: 10px;
    text-align: center;
}

.persons-telegram {
    a {
        font-size: 25px;
        color: $color-b;
    }

    margin-top: 14px;
    text-align: center;

}

.brands__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 301px);
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    max-width: 1183px;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    margin-top: 66px;
}

.brand {
    width: 301px;
    height: 115px;
}

.email__title {
    display: none;
}

.product-container {
    max-width: 1160px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #E4E5E4;
    padding: 30px 0px 35px 0px;

}

.product-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightseagreen;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header-cart__style {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-form;
}

.product-title {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.price {
    width: 25%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightseagreen;
    justify-content: center;

}

.quantity {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightseagreen;
    justify-content: center;

}

.s-ion-icon {
    font-size: 18px;
    cursor: pointer;
}

.amount {
    width: 25%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightseagreen;
    justify-content: center;

}

.price__value {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
}

.none__border {
    border-bottom: none;
}

.product__cart {
    img {
        width: 75px;
    }

    i {
        color: $color-g;
        padding-left: 50px;
    }

    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightseagreen;


}

.products {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.num {
    width: 56px;
    height: 30px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: $font-m;
    color: $color-b;
}

.increase,
.decrease {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $color-b;
}

.basketAmountContainer {
    width: 835px;
    padding: 0 10px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
}

.basketTotalTitle {
    font-size: 18px;
    line-height: 23px;
    font-family: $font-m;
    color: $color-g;
}

.basketTotal {
    font-size: 16px;
    line-height: 23px;
    font-family: $font-m;
    color: $color-g;
}

.cart__form {
    * {
        outline: none;
    }

    max-width: 1160px;
    margin: 0 auto;
    margin-top: 88px;

}

.cart__form-first_section {
    background: #FFFFFF;
    border: 1px solid #E4E5E4;
    width: 618px;
    height: 511px;
    padding: 35px 30px 65px 35px;
}

.cart__form-second_section {
    width: 526px;
    height: 511px;
    background: #FFFFFF;
    border: 1px solid #E4E5E4;
    padding: 35px 88px 69px 88px;
}

.form__cart__title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
}

.form__cart__input {
    float: right;
    border: 1px solid #E4E5E4;
    width: 70%;
    height: 66px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    margin-top: 25px;
}

.cart__form__textarea {
    width: 350px;
    height: 233px;
    resize: none;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    margin-top: 40px;
    border: 1px solid #E4E5E4;
}

.form__cart__btn {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    padding: 22px 128px;
    background-color: $color-g;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: $font-m;
    color: $color-w;

    &:hover {
        border: 1.5px solid $color-g;
        color: #50626C;
        background-color: rgba(80, 98, 108, 0.3);
    }
}

.modal-content__cart {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-w;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    outline: 0;
    min-height: 180px;
}

.map__info__contact {
    max-width: 1152px;
    height: 571px;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
}

.contact__info {
    top: 0;
    width: 605px;
    min-height: 492px;
    position: absolute;
    padding: 40px 57px 71px 40px;
    background: rgba(0, 0, 0, 0.48);
    right: 0;

    p,
    a {
        display: block;
        font-size: 20px;
        line-height: 108.9%;
        letter-spacing: 0.165em;
        font-weight: 600;
        font-family: $font-m;
        color: $color-w;
        text-align: right;
    }

}

.map__contact {
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    width: 839px;
    height: 491px;
    position: absolute;
    bottom: 0;
}

.contact__text {
    font-size: 20px;
    line-height: 108.9%;
    letter-spacing: 0.165em;
    font-weight: 400;
    font-family: $font-m;
    color: $color-b;
    max-width: 1170px;
    margin: 38px auto;
    display: block;

}

.disc__mg__bt {
    margin-bottom: 77px;
}


.all-rating {
    font-size: 20px;
    line-height: 100%;
    font-family: $font-r;
    color: $color-g;
    font-weight: bold;
    max-width: 1170px;
    margin: 33px auto;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

.slider {
    outline: none;
    border: none;

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        width: 16px;
        height: 45px;
    }

    .slick-arrow.slick-prev {
        left: 0;
        background: url(../img/arrow-l.png) 0 0 / 100% no-repeat;
    }

    .slick-arrow.slick-next {
        right: 0;
        background: url(../img/arrow-r.png) 0 0 / 100% no-repeat;

    }

    position: relative;
    max-width: 1300px;
    height: 390px;
    padding: 0px 50px;
}

.slider__item {
    img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 22px;
    }

    height: 379px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin:10px;
}

.feedback_btn {
    display: block;
    margin: 0 auto;
    width: 390px;
    margin-top: 80px;
    padding: 15px 103px;
    background-color: $color-g;
    color: $color-w;
    font-size: 15px;
    line-height: 34px;
    font-family: $font-m;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;

        &:after {
            content: '\27F6';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &:hover {
        span {
            padding-right: 50px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

.rating-box {
    display: inline-block;

    .rating-container {
        direction: rtl !important;

        label {
            display: inline-block;
            margin: 15px 0;
            color: #d4d4d4;
            cursor: pointer;
            font-size: 50px;
            transition: color 0.2s;
        }

        input {
            display: none;
        }

        label:hover,
        label:hover~label,
        input:checked~label {
            color: gold;
        }
    }
}