@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
@import 'vars';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Preloader*/
#preloader>p {
    display: none;
}

#preloader_preload {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #50626C url(../img/tail-spin.svg) center center no-repeat;
    background-size: 85px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 90px;
    align-items: center;
    justify-content: space-between;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__logo {
    img {
        display: block;
        width: 222px;
        height: 75px;
    }

    width: 125px;
    position: relative;
    z-index: 5;
}

.header__list {
    li {
        list-style: none;
    }

    display: none;
    position: relative;
    z-index: 2;
}

.header__burger {
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    position: relative;
    z-index: 5;
}

.header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    top: 5px;
    height: 2px;
    transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__menu {
    a {
        font-family: $font-m;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
    }

    position: fixed;
    top: 0px;
    left: -100%;
    height: 20%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 10px 20px 0;
    transition: all 0.3s ease 0s;
}

.header__menu.active {
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
}

.header__list {
    li {
        margin: 0 0 30px 0;
    }

    top: 90px;
    display: block;
}


.header__burger.active::before {
    transform: rotate(45deg);
    top: 5.5px;
}

.header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 4.5px;
}

.header__burger.active span {
    transform: scale(0);
}

.header_phone,
.header__work-time,
.header__icons {
    z-index: 2;
}

.header_phone a,
.header__work-time p {
    font-family: $font-m;
    font-size: 15px;
    color: $color-w;
    font-weight: 500;
}

.header__icons {
    a {
        font-size: 20px;
        color: $color-w;
    }

    z-index: 2;
    width: 154px;
    height: 35px;
}

.section {
    padding-top: 105px;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

#Main {
    background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.main__title {
    font-family: $font-m;
    color: $color-w;
    font-weight: 500;
    font-size: 90px;
    position: relative;
    top: 230px;
}

.btn_catalog {
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
    position: relative;
    top: 320px;
    left: 200px;
    color: $color-w;
    font-size: 18px;
    font-family: $font-m;
    font-weight: 400;
}

@keyframes animateLeft {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes animateTop {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animateRight {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes animateBottom {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animated-button1 {
    padding: 10px 50px;
    display: inline-block;
    transform: translate(0%, 0%);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad8585;
        opacity: 0;
        transition: .2s opacity ease-in-out;
    }

    span {
        position: absolute;

        &:nth-child(1) {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 2px;
            background: linear-gradient(to left, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateTop linear infinite;
        }

        &:nth-child(2) {
            top: 0px;
            right: 0px;
            height: 100%;
            width: 2px;
            background: linear-gradient(to top, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateRight linear -1s infinite;
        }

        &:nth-child(3) {
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateBottom linear infinite;
        }

        &:nth-child(4) {
            top: 0px;
            left: 0px;
            height: 100%;
            width: 2px;
            background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #ffffff);
            animation: 2s animateLeft linear -1s infinite;
        }
    }

    &:hover {
        &::before {
            opacity: 0.2;
        }
    }
}

.boats_motors {
    color: $color-w;
    font-family: $font-m;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: 240px;
    left: 120px;
}

.scrolled {
    background: rgba(80, 98, 108, 0.6);
}

.tabs__header {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 44px;
    justify-content: space-between;
    display: flex;
}

.tabs__cont {
    max-width: 1170px;
    margin: 0 auto;
}

.tabs__item {
    transition: 0.8s;
    font-weight: 500;
    font-family: $font-r;
    font-size: 30px;
    color: $color-lg;
    background-color: $color-w;

    &:hover {
        color: $color-g;
    }
}

.pop-product__box {
    width: 226.5px;
    height: 355.58px;
}

.tabs__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: space-between;
    grid-row-gap: 43px;
    grid-column-gap: 83px;
    position: relative;
    margin: 0 auto;
}

.pop-product__img {
    background-color: $color-g;
    padding: 50px 35px;
    margin-bottom: 10px;
}

.pop-product__title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    font-family: $font-r;
    color: $color-b;
    margin: 0px 9px 5px 9px;
}

.pop-product__price {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    font-family: $font-r;
    color: $color-b;
    margin-bottom: 5px;

}

.btn_buy {
    padding: 10px 86.5px;
    background-color: $color-g;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $color-w;
    font-family: $font-m;
    font-weight: 400;
}

.bold {
    font-weight: 800;
}

.section__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 34px;
    font-family: $font-m;
    color: $color-b;
    max-width: 1170px;
    margin: 0 auto;
}

.categories__box {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 375px);
    justify-content: space-between;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    position: relative;
    margin: 60px auto auto auto;
}

.categories__box-item {
    background: $color-w;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 373px;
    height: 255px;
    padding: 31px 80px;
}

.box-item__title {
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
    text-align: center;
    margin-bottom: 16px;
}

.categories__item__list {
    ul {
        list-style-type: disc;
    }

    li {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        font-family: $font-r;
        color: $color-b;
        margin-left: 70px;
    }

    margin-bottom: 18px;
}

.categories__btn__see {
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    font-family: $font-m;
    color: $color-g;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: block;
    transition: all 0.4s;
    cursor: pointer;

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;

        &:after {
            content: '\27F6';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &:hover {
        span {
            padding-right: 50px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}